{% extends 'layout.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block content %}
    <section>
        <h1 class="legal">Mentions Légales</h1>
        <p>Mentions légales du site http://www.planete-minibasket.com/v2/</p>
        <p>PLANETE MINIBASKET, 9 rue Henri Lavedan, 45000 Orléans, Téléphone 02 38 62 20 70 / 06 76 64 82 70.</p>
        <p>Siret : 44763726500037 </p>
        <p>Hébergeur : OVH</p>
    </section>
{% endblock %}