<form method="post">
    <input type="hidden" value="{{ faqs.id }}" name="id">
    <input type="text" value="{{ faqs.question_name }}" name="question_name">
    <input type="text" value="{{ faqs.answer_name }}" name="answer_name">
    <input type="submit" value="Valider">
</form>