{% extends 'layoutAdmin.html.twig' %}

{% block content %}
    {% include 'FaqAdmin/_form.html.twig' %}
    <div class="text-center">
        <a href="/FaqAdmin/index" class="btn btn-primary">Retour</a>
    </div>
{% endblock %}