{% extends 'layoutAdmin.html.twig' %}

{% block content %}
    <h1>Edit item {{ faqs.question_name }}. {{ faqs.answer_name }}</h1>
    {% include 'FaqAdmin/_form.html.twig' %}
    <a href="/FaqAdmin/show/{{ faqs.id }}">Back</a>
{% endblock %}