{% extends 'layoutAdmin.html.twig' %}

{% block title %}
    Admin FAQ
{% endblock %}

{% block content %}
    <div class="container  question">
        <div class="row justify-content-center">
            <h1 class="titre">Administration des FAQs</h1>
        </div>
        <div class="text-center">
            <a href="add/" class="btn btn-primary"><label for="show">Ajouter une Question</label></a>
        </div>

        <div class="row justify-content-center">
            <h2 class="titre2">Questions présentes sur le site :</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col-1"></th>
                        <th scope="col-4">Question</th>
                        <th scope="col-5">Réponse</th>
                        <th scope="col-1">Editer</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for faq in faqs %}

                        <tr>
                            <th scope="row"></th>
                            <td>{{ faq.question_name }}</td>
                            <td>{{ faq.answer_name }}</td>
                            <td><a class="btn trigger" href="/FaqAdmin/edit/{{ faq.id }}"><i class="fas fa-pencil-ruler"></i> Éditer</a></td>
                            <td><a class="btn trigger" href="/FaqAdmin/show/{{ faq.id }}"><i class="fas fa-trash-alt"></i> Supprimer</a></td>
                        </tr>




                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
