{% extends 'layoutAdmin.html.twig' %}

{% block stylesheet %}
<link href="/assets/css/admin.css" rel="stylesheet">
{% endblock %}

{% block title %}
    Admin FAQ
{% endblock %}

{% block content %}
    <div class="container  question">
        <div class="row justify-content-center">
            <h1 class="titre">Administration des FAQs</h1>
        </div>
        <div class="row justify-content-center">
            <h2 class="titre2">Questions présentes sur le site :</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col-1"></th>
                        <th scope="col-4">Question</th>
                        <th scope="col-5">Réponse</th>
                        <th scope="col-1">Editer</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for faqs in faqs %}

                        <tr>
                            <th scope="row"></th>
                            <td>{{ faqs.question_name }}</td>
                            <td>{{ faqs.answer_name }}</td>
                            <td><a class="btn trigger" href="/FaqAdmin/show/{{ faqs.id }}"><i class="fas fa-eye"></i></i> Détails</a></td>

                        </tr>




                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascript %}
{% endblock %}

