{% extends 'layoutAdmin.html.twig' %}

{% block content %}

    <div class="card text-center">
        <div class="card-header">
            FAQ {{ faq.id }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ faq.question_name }}</h5>
            <p class="card-text">
                {{ faq.answer_name }}
            </p>
            <a href="/FaqAdmin/edit/{{ faq.id }}"class="btn btn-primary">Éditer</a>
            <a href="#!" class="btn btn-primary">Supprimer</a>
            <a href="/FaqAdmin/index" class="btn btn-primary">Retour</a>
        </div>
    </div>
{% endblock %}