
    <form method="post" action="/FaqAdmin/add">
        <label>Votre Question :</label>
        <textarea name="question"></textarea>
        <label>Votre Réponse :</label>
        <textarea name="answer"></textarea>
        <button type="submit">Ajouter</button>
    </form>
