<form method="post">
    <input type="hidden" value="{{ faq.id }}" name="id">
    <input type="text" value="{{ faq.question_name }}" name="question_name">
    <input type="text" value="{{ faq.answer_name }}" name="answer_name">
    <input type="submit" value="Valider">
</form>