
<div class="jumbotron row justify-content-center banner">
    <h1 class="display-3 banner-title text-center col-12">Planète Mini Basket</h1>
    <p class="banner-text text-center col-12"> Le centre aéré préféré des enfants !</p>
</div>