<section>
    <h2 class="text-center">Le top de nos activités</h2>
    <p class="text-center">Les enfants ont parlés, et voici nos activités les plus aimées et adorées des enfants</pclass>
    <div id="fh5co-trainer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 animate-box">
                    <div class="trainer">
                        <a href="#"><img class="img-responsive" src="/assets/images/bestActivitiesBasket.jpg" alt="trainer"></a>
                        <div class="title">
                            <h3><a href="#">Basket-Ball</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 animate-box">
                    <div class="trainer">
                        <a href="#"><img class="img-responsive" src="/assets/images/bestActivitieDance.jpg" alt="trainer"></a>
                        <div class="title">
                            <h3><a href="#">Danse Classique</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 animate-box">
                    <div class="trainer">
                        <a href="#"><img class="img-responsive" src="/assets/images/bestActivitiesEquitation.jpg" alt="trainer"></a>
                        <div class="title">
                            <h3><a href="#">Équitation</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>