<section>
    <h2 class="text-center">Le top de nos activités</h2>
    <p class="text-center">Les enfants ont parlés, et voici nos activités les plus aimées et adorées des enfants</p>
    <div id="fh5co-trainer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 animate-box">
                    <div class="trainer">
                        <a href="#"><img class="img-responsive" src="/assets/images/basketball child.jpg" alt="trainer"></a>
                        <div class="title">
                            <h3><a href="/Activities/index">Basket-Ball</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 animate-box">
                    <div class="trainer">
                        <a href="#"><img class="img-responsive" src="/assets/images/grs.jpg" alt="trainer"></a>
                        <div class="title">
                            <h3><a href="/Activities/index">Gymnastique</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 animate-box">
                    <div class="trainer">
                        <a href="#"><img class="img-responsive" src="/assets/images/childRugby.jpeg" alt="trainer"></a>
                        <div class="title">
                            <h3><a href="/Activities/index">Rugby</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>