<section>
    <div class="container">
        <div class="row justify-content-around">
            <div class="card card-border mb-3">
                <div class="card-body text-center card-info">
                    <i class="fas fa-child icon-info"></i>
                    <h4 class="card-title info-header">De 4 à 14 ans</h4>
                    <p class="card-text info-text info-text-children">Tous les mercredis et pendant les stages, nous accueillons les enfants de 4 à 14 ans.</p>
                </div>
            </div>
            <div class="card card-border mb-3">
                <div class="card-body text-center card-info">
                    <i class="far fa-heart icon-info"></i>
                    <h4 class="card-title info-header">Confiance</h4>
                    <p class="card-text info-text">Après plusieurs années à avoir fait ses preuves, Planète Mini Basket vous garantit une sécurité en laquelle vous pouvez avoir confiance.</p>
                </div>
            </div>
            <div class="card card-border mb-3">
                <div class="card-body text-center card-info">
                    <i class="fas fa-basketball-ball icon-info"></i>
                    <h4 class="card-title info-header">Multisport</h4>
                    <p class="card-text info-text">Notre structure propose de nombreuses activités différentes ! Votre enfant trouvera sûrement son bonheur parmi les différents sports proposés.</p>
                </div>
            </div>
        </div>
    </div>
</section>