<div id="fh5co-trainer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 animate-box">
                <div class="trainer">
                    <a href="#"><img class="img-responsive" src="/assets/images/bestActivitiesBasket.jpg" alt="trainer"></a>
                    <div class="title">
                        <h3><a href="#">Basket-Ball</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 animate-box">
                <div class="trainer">
                    <a href="#"><img class="img-responsive" src="/assets/images/bestActivitieDance.jpg" alt="trainer"></a>
                    <div class="title">
                        <h3><a href="#">Danse Classique</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 animate-box">
                <div class="trainer">
                    <a href="#"><img class="img-responsive" src="/assets/images/bestActivitiesEquitation.jpg" alt="trainer"></a>
                    <div class="title">
                        <h3><a href="#">Équitation</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>