
<footer class="page-footer font-small pt-4">

    <div class="container-fluid text-center text-md-left bg-info">

        <div class="row">






            <div class="col-md-12 mb-md-0 mb-12 text-center">
                <h5 class="text-uppercase"><img src="/assets/images/Logo2.png" alt="Logo"> Planète <span>Mini Basket</span></h5>



                <ul class="list-unstyled">
                    <li>
                        <a class="footer" href="#!">Présentation</a>
                    </li>
                    <li>
                        <a class="footer" href="#!">Activités</a>
                    </li>
                    <li>
                        <a class="footer" href="#!">Planning</a>
                    </li>
                    <li>
                        <a class="footer" href="#!">Tarifs</a>
                    </li>
                    <li>
                        <a class="footer" href="#!">Contact</a>
                    </li>
                    <li>
                        <a class="footer" href="#!">FAQ</a>
                    </li>
                    <li>
                        <a class="footer" href="#!">Mentions légales</a>
                    </li>
                </ul>

            </div>


        </div>


    </div>


    <div class="footer-copyright text-center py-3">Fait avec amour par :
    </div>


</footer>
