<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6 col-xs-12">
                <span class="logo"><img src="/assets/images/logoFooter.png" </span>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="menu">
                    <span>Menu</span>
                    <li>
                        <a href="#">Accueil</a>
                    </li>

                    <li>
                        <a href="#">Présentation</a>
                    </li>

                    <li>
                        <a href="#">Activités</a>
                    </li>

                    <li>
                        <a href="#">Nos Stages</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li>
                        <a href="#">Mentions Légales</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="address">
                    <span>Contact</span>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i> <a href="#">Phone</a>
                        <p class="footer">+33.6.56.78.45.34</p>
                    </li>
                    <li>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">Adress</a>
                        <p class="footer">9 Rue Henri Lavedan<br/>45000 Orléans</p>
                    </li>
                    <li>
                        <i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">Email</a>
                        <p class="footer">contact@planète-mini-basket.fr</p>
                    </li>
                </ul>
            </div>


        </div>
    </div>
    <div class="container-fluid footerDown">
        <p><i class="far fa-copyright"></i> Planète Mini Basket</p>
    </div>
</footer>