<div class="wrapper">

    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Planète Mini Basket</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="#">Présentation</a>
            </li>
            <li>
                <a href="#">Actualités</a>
            </li>
            <li>
                <a href="#">Activités</a>
            </li>
            <li>
                <a href="#">Nos Stages</a>
            </li>
            <li>
                <a href="#">Infrastructures</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li><a href="/Home/index" class="article">Retour au site</a></li>
        </ul>
    </nav>

</div>