<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/HomeAdmin/index">Administration</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/NewsAdmin/index">Actualités</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ActivitiesAdmin/index">Activités</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/StageAdmin/index">Stages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/FaqAdmin/index">FAQs</a>
            </li>
        </ul>
        <li class="form-inline my-2 my-lg-0">
            <a class="btn btn-secondary my-2 my-sm-0" href="/Home/index">Retour au Site</a>
        </li>
    </div>
</nav>