{% extends '\layout.html.twig' %}
{% block content %}
    <div class="row justify-content-around">
    {% for activities in activity %}
        <div class="card activities-card mb-3 col-6">
            <div class="flip-card-inner">
                <div class="card-body flip-card-front activities-card">
                    <h3 class="activities-title">{{ activities.name }}</h3>
                    <img src="{{ activities.picture }}" alt="{{ activities.alt }}" class="activities-pictures">
                </div>
                <div class="flip-card-back">
                    <p class="card-text activities-description">{{ activities.description }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}