{% extends '\layout.html.twig' %}
{% block content %}
    <section>
        <div class="row justify-content-around">
        {% for activities in activity %}
            <div class="wrap col-sm-10 col-md-4">
                <div class="card animate activities-card">
                    <div class="card-body activities-card side-a">
                        <h3 class="activities-title">{{ activities.name }}</h3>
                        <img src="{{ activities.picture }}" alt="{{ activities.alt }}" class="activities-pictures">
                    </div>
                    <div class="side-b">
                        <p class="card-text activities-description">{{ activities.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
{% endblock %}