{% extends '\layout.html.twig' %}
{% block content %}
    {% for activities in activity %}
        <div class="card border-primary mb-3">
            <div class="card-body">
                <img src="{{ activities.picture }}" alt="{{ activities.alt }}">
                <h3>{{ activities.name }}</h3>
                <p class="card-text">{{ activities.description }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}