{% extends '\layout.html.twig' %}
{% block content %}
    <section class="activities-section">
        <h2 class="activities">Activités</h2>
        <p class="activities-text">Découvrez les activités proposées par notre club.</p>
        <div class="row row-activities justify-content-around">
        {% for activities in activity %}
            <div class="wrap col-lg-3 col-md-6 col-sm-10">
                <div class="card animate activities-card">
                    <div class="card-body activities-card side-a">
                        <h3 class="activities-title">{{ activities.name }}</h3>
                        <img src="{{ activities.picture }}" alt="{{ activities.alt }}" class="activities-pictures">
                    </div>
                    <div class="side-b">
                        <p class="card-text activities-description">{{ activities.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
{% endblock %}