.formErrors {
    color: red;
}

.mailSent {
    color: green;
}

.mailNotSent {
    color: red;
}

.card {
    margin-top: 4em;
}

.md-form, .mt-3{
    margin-top: 2em;
}

label {
    font-size: 1.5em;
}

.md-textarea {
    height: 8em;
}

.card-header {
    font-size: 4em;
}

