.banner {
    position: relative;
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2018/03/26/14/07/space-3262811_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vw;
    filter: brightness(0.95);
    margin-top: 7vw;
}

.banner-title{
    top: 10vw;
    position: absolute;
    font-size: 5vw;
}

.banner-text {
    top: 17vw;
    position: absolute;
    font-size: 2.5vw;
    color: black;
    opacity: 0.8;
}

section{
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.info-header{
    text-align: center;
    font-size: 2em;
}

.icon-info{
    font-size: 3em;
    padding-bottom: 15px;
}

.info-text{
    text-align: center;
}

.info-text-children{
    margin-top: 1vw;
}

.border{
    border: #60A9C3;
}

.card-info{
    max-width: 20rem;
}