.banner{
    position: relative;
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2018/03/26/14/07/space-3262811_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vw;
    filter: brightness(0.95);
}

.banner-title{
    top: 4vw;
    position: absolute;
    font-size: 5vw;
}

.banner-text{
    top: 11vw;
    position: absolute;
    font-size: 2.5vw;
    color: black;
    opacity: 0.8;
}