.trainer{
  position: relative;
  background: rgba($brand-black,.05);
  @media screen and (max-width: $screen-sm){
    margin-bottom: 30px;
  }
  img{
    width: 84%;
  }
  .title{
    width: 100%;
    position: absolute;
    bottom: 60%;
    left: 42%;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    h3{
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin: 0;
      padding: 0;
      a{
        color: $brand-black;
        &:hover, &:focus{
          color: $brand-primary;
        }
      }
    }
    span{
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 13px;
      color: rgba($brand-black,.4);
    }
  }
  .desc{
    width: 70%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($brand-white,1);
    padding: 7px;
    .fh5co-social-icons {
      li {
        a {
          color: $brand-black;
          i {
            font-size: 16px;
          }
        }
      }
    }

  }
}






















