<form method="post">
    <input type="hidden" value="{{ news.id }}" name="id">
    <input type="text" value="{{ news.title }}" name="title">
    <input type="hidden" value="{{ news.id }}" name="id">
    <input type="text" value="{{ news.content }}" name="content">
    <input type="submit" value="Valider">
</form>
